<configuration>
	<!--  scan="true" scanPeriod="5 seconds" debug="true"> -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%.15thread] %-5level %logger{36}:%line - %msg%n</pattern> -->
			<pattern>%-4relative [%.15thread] %-5level %logger{36}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<logger level="INFO" name="com.liferay" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>